<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}">
            <td><img width="90" class="img-thumbnail"
                [src]="beer.image" [alt]="beer.name"/></td>
            <td>{{beer.name | uppercase}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.description}}</td>
            <td>{{beer.price | currency}}</td> 
            <td><span *ngIf="beer.stock == 0" class="badge bg-danger">Sin stock</span></td> 
            <td width="120">
                <app-input-integer [beer]="beer" *ngIf="beer.stock"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>