<div class="row">
    <ul>
        <li>Refugio | Bar Serrano |</li>
        <li>refugiodetandil@gmail.com</li>
        <li>Tasende 250 - Valle del Picapedrero</li>
        <li>Tandil 7000 - Argentina | 249 - 154209020</li>
    </ul>
    <div>
        <h3>Quienes somos?</h3>
        <p>Cuatro amigos de toda la vida se juntan a comer un asado. Julito hizo las compras, pero el alcohol lo traen Dante y el Pinta. El Kele se pone la camiseta una vez más y se hace cargo de la parrilla. Un rato después comienza a nacer la idea para cumplir el sueño de todo grupo de amigos: tener un bar. Ellos son</p>
        <ul>
            <li>Ezequiel Leanes</li>
            <li>Julio Puga</li>
            <li>Martin Bertrand</li>
            <li>Dante Dottavio</li>
        </ul>
    </div>
    <div>
        <h3>El valle del Picapedrero</h3>
        <p>La exclusividad del uso del Valle del Picapedrero nos permite contar con un sistema de trabajo en la búsqueda de minimizar los errores humanos y de material que podrían surgir al armar y desarmar tirolesas o anclajes de uso provisorio. La seguridad es nuestra mayor preocupación. En la entrada al predio contamos con un vagón de la época de los picapedreros que funciona como recepción de los visitantes y grupos construido con materiales del lugar. El Regfugio cuenta con luces de led cargadas por luz solar. Su capacidad es para 40 personas sentadas. En invierno el mismo se calefacciona mediante una salamandra. En un espacio semi cubierto se encuentra el sector de lavado y parrilla con barra, y además cuenta con un fogón para cocinar o reunirse alrededor del fuego para los casos de grupos que acampan.</p>
        <p>Desde el 21 de diciembre del 2017 El Refugio se utiliza como una opción gastronómica diferente tanto para la gente local como para los turistas. En el mismo sobresale el paisaje, la naturaleza y la buena parrilla a las brasas. Cabe destacar que el bar no cuenta con ningún servicio público, lo que lo hace un lugar único entre las sierras. Desde el comienzo se fue adaptando a los requerimientos de nuestros clientes, estamos muy orgullosos de llevar adelante este emprendimiento.</p>
        <p>El Refugio dispone de una variedad de productos elaborados en Tandil como picadas, alfajores y cervezas artesanales. Los invitamos a seguirnos en nuestras redes sociales, ahí se enteraran de todas las novedades y los cambios que se vienen para cada temporada de verano, donde nos renovamos y sumamos comodidades al lugar. Es un placer poder brindarles nuestro servicio, esperamos que disfruten su estadía y no olviden recorrer el predio del Valle después de una rica comida.</p>
    </div>
</div>
